@model IEnumerable<SportsEquipmentManagementProject.Models.PurchasePlan>

<h2>План закупок</h2>
<p>
    @Html.ActionLink("Добавить новый план", "Create")
</p>
<table class="table">
    <thead>
    <tr>
        <th>Название инвентаря</th>
        <th>Цена</th>
        <th>Поставщик</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ItemName</td>
        <td>@item.Price</td>
        <td>@item.SupplierName</td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
    </tbody>
</table>
