@model IEnumerable<SportsEquipmentManagementProject.Models.Request>

<h2>Заявки</h2>
<table class="table">
    <thead>
    <tr>
        <th>Тип заявки</th>
        <th>Клиент</th>
        <th>Статус</th>
        <th>Товар</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Type</td>
            <td>@item.ClientId</td>
            <td>@item.Status</td>
            <td>@item.Inventory</td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>