@model Inventory

<h2>Удалить инвентарь</h2>

<p>Вы уверены, что хотите удалить?</p>

<div>
    <p><strong>Название:</strong> @Model.Name</p>
    <p><strong>Количество:</strong> @Model.Quantity</p>
    <p><strong>Качество:</strong> @Model.Condition</p>
</div>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<button type="submit" class="btn btn-danger">Удалить</button>
@Html.ActionLink("Отмена", "Index")
}
